body {
	width:1000px;
	margin: 0 auto;
}
div.header {
	width:100%;
	height:50px;
}

div.home {
	float:left;
}

div.login {
	float:right;
}

div.content {
	width:100%;
	height:100%;
}

div.footer {

}
div.menu-classic #menu {
	margin:0;
	padding:0;	
}
div.menu-classic #menu li {
	list-style-type:none;
	display:block;
	float:left;
	padding-left:0px;
	text-align:center;
	margin:0 0 0.25em 0;
	width:150px;
	height:25px;
}
div.vertical #menu li {
	float:none;
}
div.menu-classic #menu a,div.menu-classic #menu a:visited {
	display:block; 
	width:9em; 
	border:1px solid #808;
	text-align:center; 
	padding:0.25em;
	background:#808; 
  	color:#eee;
}
div.menu-classic #menu a:hover {
	background:#ddd; 
  	color:#808; 
}
div.menu-classic ul {
	display:none;
	padding:0;
	margin:0;
	position:relative;
    left:155px;
    top:-27px;

}

div.menu-classic #menu {
	display:block;
	left:0;
	top:0;
}
div.horizontal #menu ul {
    left:0;
    top:0;

}
div.horizontal #menu ul ul {
	position:relative;
    left:155px;
    top:-27px;

}

div.menu-classic li:hover > ul {
	display:block;
}
div.menu-tree div.li-content {
	display:none;
}
div.menu-tree ul {
	display:none;
}
div.menu-free ul#menu {
	display:block;
}	

div.menu-table .column-item {
	width:100px;
	height:100px;
	border:thin black solid;
}
div.content {
	float:left;
	clear:both;
}
div.main_menu {
	background: none repeat scroll 0 0 #880088;
	height:29px;
	width:100%;
}
div.messages {
	float:left;
	clear:both;
}

ul li.feedback-list-item {
	list-style: none !important
}
.feedback-list-red ul li {
	font-size:14px;
	font-weight:normal;
	color:red !important;
	padding-top:1px
}

.feedback-list-green ul li {
   font-size:14px;
   font-weight:normal;
   color:green !important;
   padding-top:1px
}

div.main_default_div {
	width:100%;
	height:100%;
}

div.info_filter_container_div {
	float:left;
	clear:both;
	width:100%;
	height:50%;
}
div.triple_default_container_div {
	float:left;
	clear:both;
	width:100%;
	height:50%;
}

div.info_default_div {
	width:700px;
	min-height:100px;
	float:left;
}

div.filter_default_div {
	width:300px;
	min-height:100px;
	float:left;
}

div.base_default {
	float:left;
	width:500px;
	min-height:10px%;
}
div.list1_default {
	float:left;
	width:250px;
	min-height:100px;
}
div.list2_default {
	float:left;
	width:250px;
	min-height:100px;
}
div.homepage_default_intro {
	width:100%;
	min-height:200px;
}
div.homepage_default_intro_tops {
	width:100%;
	text-align:center;
}
div.top_users {
	width:33%;
	float:left;
}
div.top_groups {
	width:33%;
	float:left;
}
div.top_resources {
	width:33%;
	float:left;
}
div.intro {
	min-height:200px;
	border:thin red solid;
	text-align:center;
}
div.homepage_default_B {
	border:thin black solid;
	text-align:center;
}
div.user_default_B {
	border:thin black solid;
	text-align:center;
}
div.user_default_info {
	float:left;
	width:250px;
	min-height:500px;
	border:thin red solid;
}

div.group_default_info {
	float:left;
   width:200px;
   min-height:500px;
   border:thin red solid;
}
div.group_default_B {
	border:thin black solid;
   text-align:center;

}
div.resource_default_B {
	border:thin black solid;
   text-align:center;
}
div.resource_default_info {
	float:left;
   width:200px;
   min-height:500px;
   border:thin red solid;

}
div.homepage_default_A {
	margin-top:30px;
}
div.selected_row {
	background-color:#880088;
}
div.menu-classic #menu a, div.menu-classic #menu a.menu_button {
	background-color:#000000;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

